# installed NodeJS modules, which are often very large.
node_modules/
package-lock.json
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# for JetBrains editor
.idea/

# because macOS is macOS.
.DS_Store
